<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="title">
            To Do List
        </div>

        <form action="new" method="post">
            <input type="text" name="task" placeholder="Enter a task name">
            <input type="submit" value="+  ">
        </form>

        <div class="list">

            <% let i = 0;
                while (i<tasks.length)
                { %>
                    <center>
                        <div class="task">
                            <div class="name" id="<%=tasks[i].id%>" ><%=tasks[i].task%></div>
                            <form action="delete" method="post">
                                <input type="text" name="id" class="hidden" value="<%=tasks[i].id%>">
                                <input type="submit" value="X " class="delete">
                            </form>
                        </div>
                    </center>
                <%  i++;
                } %>
        </div>

    </div>

    
</body>
</html>