<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="title">
            To Do List
        </div>

        <form action="">
            <input type="text" name="task" placeholder="Enter a task name">
            <div>+</div>
        </form>

        <div class="list">
            <center>
                <div class="task">
                    <div class="name">Ranger ma chambre ce soir</div>
                    <div class="delete">X</div>
                </div>
            </center>
            <center>
                <div class="task">
                    <div class="name">Ranger ma chambre ce soir</div>
                    <div class="delete">X</div>
                </div>
            </center>
        </div>

    </div>

    
</body>
</html>